<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Tic Tac Toe RealTime</title>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/utils.js"></script>
  </head>
  <body>
    <!-- ALERTS -->
    <div id="alert">
    </div>

    <div class="container">
      <div class="player">
        <label for="game-name">Game Name</label>
        <input
          type="text"
          id="username"
          placeholder="Enter Your Username For Game"
        />

        <label for="game-id">Game Room ID</label>
        <input type="text" id="room-id" placeholder="Enter Game Room ID" />
      </div>

      <button id="join-game-btn" class="btn-join">JOIN</button>

      <div>
        <p>
          <button id="create-game-btn" class="btn">Create Game Room</button>
        </p>
      </div>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>
